
header{
    background: black;
}
.d0{
    position: relative;
width: 1440px;
height: 6325px;

background: #1A1A1A;
}
.p1{
    position: absolute;
width: 84px;
height: 28px;
margin-left: 68px;
margin-top: 48px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.p2{
width: 90px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.i1{
    margin-top: 54px;
    margin-left: 375px;
}
.p2{
    position: absolute;
width: 117px;
height: 24px;
margin-left: 1228px;
margin-top: -10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;

}
.d2{
    position: absolute;
width: 1190px;
height: 794px;
margin-left: 0px;
margin-top: 189px;

background: url(./robot-hand-3d-background-presenting-technology-gesture-removebg-preview\ 1\ \(2\).png);
}
.b1{
    box-sizing: border-box;

position: absolute;
width: 160px;
height: 202px;
margin-left: 266px;
margin-top: 51px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
color: #FFFFFF;
font-size: medium;
}
.b2{
    box-sizing: border-box;

position: absolute;
width: 160px;
height: 231px;
margin-left: 493px;
margin-top: 51px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
font-size: medium;
color: #FFFFFF;
}
.p3{
    position: absolute;
width: 373px;
height: 120px;
margin-left: 968px;
margin-top: 391px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* or 40px */

letter-spacing: -0.03em;

color: #FFFFFF;

}
.b3{
    position: absolute;
width: 200px;
height: 72px;
margin-left: 968px;
margin-top: 559px;

background: #FFFFFF;
border-radius: 120px;
}
.b5{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 72px;
margin-left: 1168px;
margin-top: 667px;

opacity: 0.2;
border-radius: 120px;
color: #ff0000;
}
.d3{
    position: absolute;
width: 1440px;
height: 120px;
margin-left: 0px;
margin-top: 997.43px;

background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);
}
.p4{
    position: absolute;
width: 918px;
height: 72px;
margin-left: 325px;
margin-top: 0px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 200%;
/* identical to box height, or 72px */

letter-spacing: 0.04em;

background: linear-gradient(270deg, #1A1A1A 1.34%, #000000 110.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.p5{
    position: absolute;
width: 822px;
height: 94px;
margin-left: 64px;
margin-top: 1324px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
/* identical to box height */

color: #FFFFFF;

}
.p6{
    position: absolute;
width: 132px;
height: 64px;
margin-left: 128px;
margin-top: 1508px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */

text-align: center;

color: #FFFFFF;
}
.o1{
    position: absolute;
width: 262.4px;
height: 4px;
margin-left: 64px;
margin-top: 1596px;

background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%), #D9D9D9;
}
.p7{
    position: absolute;
width: 152px;
height: 64px;
margin-left: 380px;
margin-top: 1508px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
.o2{
    position: absolute;
width: 262.4px;
height: 4px;
margin-left: 326px;
margin-top: 1596px;

background: #D9D9D9;
opacity: 0.2;
}
.p8{
    position: absolute;
width: 97px;
height: 64px;
margin-left: 672px;
margin-top: 1508px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
.o3{
    position: absolute;
width: 262.4px;
height: 4px;
margin-left: 588px;
margin-top: 1596px;

background: #D9D9D9;
opacity: 0.2;
}
.p9{
    position: absolute;
width: 174px;
height: 64px;
margin-left: 894px;
margin-top: 1508px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
.o4{
    position: absolute;
width: 262.4px;
height: 4px;
margin-left: 850px;
margin-top: 1596px;

background: #D9D9D9;
opacity: 0.2;
}
.p10{
    position: absolute;
width: 144px;
height: 64px;
margin-left: 1170px;
margin-top: 1508px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */

text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
.o5{
    
position: absolute;
width: 262.4px;
height: 4px;
margin-left: 1112px;
margin-top: 1596px;

background: #D9D9D9;
opacity: 0.2
}
.p11{
    position: absolute;
width: 457px;
height: 94px;
margin-left: 64px;
margin-top: 1762px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
/* identical to box height */

letter-spacing: 1px;

color: #FFFFFF;

}
.p12{
    position: absolute;
width: 586px;
height: 120px;
margin-left: 64px;
margin-top: 1886px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* or 40px */

letter-spacing: -0.03em;

color: #FFFFFF;

opacity: 0.5;
}
.i2{
    position: absolute;
width: 721px;
height: 720.04px;
margin-left: 666px;
margin-top: 1682px;

background: url(9.png);
}
.p13{
    position: absolute;
width: 211px;
height: 40px;
margin-left: 112px;
margin-top: 2042px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* identical to box height, or 40px */


color: #FFFFFF;
}
.p14{
    position: absolute;
width: 309px;
height: 40px;
margin-left: 112px;
margin-top: 2102px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* identical to box height, or 40px */


color: #FFFFFF;
}
.p15{
    position: absolute;
width: 272px;
height: 40px;
margin-left: 112px;
margin-top: 2162px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* identical to box height, or 40px */


color: #FFFFFF;
}
.b6{
    box-sizing: border-box;

position: absolute;
width: 249px;
height: 72px;
margin-left: 64px;
margin-top: 2250px;
border: 1px solid #FFFFFF;
border-radius: 120px;
background-color: #000000;
color: #FFFFFF;
}
.p16{
    position: absolute;
width: 1003px;
height: 94px;
margin-left: 80px;
margin-top: 2563px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
/* identical to box height */

letter-spacing: 1px;

color: #FFFFFF;
}
.i3{
    position: absolute;
width: 508px;
height: 180px;
margin-left: 80px;
margin-top: 2751px;
}
.i4{
    position: absolute;
    width: 508px;
    height: 180px;
    margin-left: 80px;
    margin-top: 2995px;
}
.i5{
    position: absolute;
width: 508px;
height: 180px;
margin-left: 80px;
margin-top: 3239px;

}
.i6{
    position: absolute;
width: 508px;
height: 180px;
margin-left: 852px;
margin-top: 2751px;
}
.i7{
    position: absolute;
width: 508px;
height: 180px;
margin-left: 852px;
margin-top: 2995px;
}
.i8{
    position: absolute;
width: 508px;
height: 180px;
margin-left: 852px;
margin-top: 3239px;
}
.i9{
position: absolute;
width: 1600px;
height: 732px;
margin-left: 64px;
margin-top: 3619px;
}
.p17{
    position: absolute;
width: 643px;
height: 94px;
margin-left: 398px;
margin-top: 4551px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
/* identical to box height */

letter-spacing: 1px;

color: #FFFFFF;
}
.p18{
    position: absolute;
width: 1200px;
height: 288px;
margin-left: 120px;
margin-top: 4725px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 200%;
/* or 96px */


color: #FFFFFF;
}
.p19{
    position: absolute;
width: 272px;
height: 64px;
margin-left: 372px;
margin-top: 5126px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 200%;
/* identical to box height, or 64px */


background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.o6{
    position: absolute;
width: 64px;
height: 0px;
margin-left: 680px;
margin-top: 5158px;

border: 2px solid #FFFFFF;
}
.p20{
    position: absolute;
width: 287px;
height: 48px;
margin-left: 780px;
margin-top: 5134px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 200%;
/* identical to box height, or 48px */

letter-spacing: -0.03em;

color: #FFFFFF;
}
.i10{
    position: absolute;
width: 141.42px;
height: 141.42px;
margin-left: 129.29px;
margin-top: 5087.29px;
}
.i11{
    position: absolute;
width: 141.42px;
height: 141.42px;
margin-left: 1169.29px;
margin-top: 5086.29px;
transform: rotate(180deg);
}
.p21{
    position: absolute;
width: 612px;
height: 94px;
margin-left: 414px;
margin-top: 5437px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 94px;
/* identical to box height */

text-align: center;
letter-spacing: 1px;

color: #FFFFFF;
}
.b7{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 288px;
margin-top: 5621px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b8{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 576px;
margin-top: 5621px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b9{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 864px;
margin-top: 5621px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b10{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 1152px;
margin-top: 5621px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b11{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 14px;
margin-top: 5805px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b12{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 302px;
margin-top: 5805px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b13{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 590px;
margin-top: 5805px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b14{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 878px;
margin-top: 5805px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.b15{
    box-sizing: border-box;

position: absolute;
width: 240px;
height: 100px;
margin-left: 1166px;
margin-top: 5805px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
opacity: 0.2;
border-radius: 32px;
}
.t1{
    position: absolute;
width: 84px;
height: 28px;
margin-left: 64px;
margin-top: 6085px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

background: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.t2{
    position: absolute;
width: 329px;
height: 120px;
margin-left: 64px;
margin-top: 6141px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 200%;
/* or 40px */

letter-spacing: -0.03em;

color: #FFFFFF;

opacity: 0.5;
}
.t3{
    width: 130px;
height: 28px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: right;
margin-left: 523px;
margin-top: 6141px;
color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.nav{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 54px;

position: absolute;
width: 853px;
height: 28px;
right: 64px;
top: 6085px;
}